<h1>Xin chào <strong> {{ name }} </strong>,</h1>








<p>Chúng tôi nhận được yêu cầu khôi phục mật khẩu từ bạn.</p> <a
 style=" background-color: #04aa6d; color: white; padding: 10px; text-decoration: none; border-radius: 12px; "
 href="{{ url }}" target="_blank"> &#128073; Đặt lại mật khẩu </a> <br />
<p> Nếu bạn không yêu cầu việc khôi phục mật khẩu hoặc không nhớ đã thực hiện yêu cầu này, xin vui lòng bỏ qua email này
 hoặc liên hệ với chúng tôi ngay để chúng tôi có thể giúp bạn giải quyết tình huống này. </p> <br />







<p>Trân trọng,</p>
<p><strong> Vũ Văn Nghĩa </strong></p>
<p><strong> MSSV: 20206205 </strong></p>